*{
    margin: 0;
}
body{

    background-color: papayawhip;
    font-family: Lato;
}
.box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 210dvh;
    width: 85dvw;
    background-color: white;
    margin-top: 8dvh;
    border-radius: 20px;
    padding-left: 5dvw;
    padding-right: 5dvw;
    padding-top: 5dvh;
    margin-bottom: 5vh;
}
.heading{
    font-size: 36px;
}
.subhead{
    margin-top: 8px;
    margin-bottom: 8px;
}
.head{
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 17px;
}
.input{
    margin-top: 10px;
    width: 31.5%;
    margin-right: 0.4vw;
    height: 3.5dvh;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 5px;
    padding-left: 8px;
    outline: 0;
    font-size: 15px;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    height: 10dvh;
    border: 0;
    border-bottom: 1px solid black;
}
.submitbox{
    margin-top: 5vh;
    height: 40px;
    width: 100%;
    background-color: #7b5831;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.final{
    color: white;
    text-align: center;
    font-size: 3dvh;
    padding-top: 5px;
}